# Ejercicio 1

# Texto

In [2]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

# Texto dividido

In [5]:
texto_dividido = text.split('. ')
texto_dividido

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 '\nOn average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

# Palabras clave

In [6]:
palabras_clave = [ 'average', 'temperature' ,'distance']

# Palabras clave en busqueda

In [10]:
for busqueda in texto_dividido:
    for palabras_clave in palabras_clave:
        if palabras_clave in busqueda:
            print(busqueda)
            break

The Moon is Earth's only satellite
There are several interesting facts about the Moon and how it affects life here on Earth
This yearly drift is not significant enough to cause immediate effects on Earth
The highest daylight temperature of the Moon is 127 C.

# Cambio de C a Celsius

In [11]:
for busqueda in texto_dividido:
    for palabras_clave in palabras_clave:
        if palabras_clave in busqueda:
            print(busqueda.replace(' C', ' Celsius'))
            break

Interesting facts about the Moon
The Moon is Earth's only satellite
There are several interesting facts about the Moon and how it affects life here on Earth
This yearly drift is not significant enough to cause immediate effects on Earth
The highest daylight temperature of the Moon is 127 Celsius.

# Ejercicio 2

# Datos

In [38]:
nombre = "La Luna"
gravedad = 0.00162 # in kms
planeta = "Tierra"

# Título

In [39]:

titulo = f'Datos de gravedad sobre {nombre}'

# Conversión de km a m

In [40]:
hechos = f"""
Nombre del planeta: { planeta } 
Gravedad en { nombre }: { gravedad * 1000 } m/s2 
"""

# Unión de Cadenas

In [41]:

cadena = f"""{ titulo } 
{ hechos } 
""" 
print(hechos)

Nombre del planeta: Tierra
Gravedad en La Luna: 1.6199999999999999 m/s2

# Nuevos Datos

In [45]:
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

# Comprobación de la Plantilla

In [42]:
print(hechos)

Nombre del planeta: Tierra
Gravedad en La Luna: 1.6199999999999999 m/s2

# Nueva Plantilla

In [48]:
nueva_plantilla = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(nueva_plantilla.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2

# Gravedad correcta Ganímedes

In [49]:
print(nueva_plantilla.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2